* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.col {
    margin-bottom: 10px;
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.attributes {
    margin: 10px 0;
}

.example {
    margin-top: 10px;
}

.columns {
    width: calc(100% / 12);
}